.App {
  text-align: center;
}
.user-container{
  padding: 1rem;
}
.img{
      height: 340px;
      width: 325px;
   border-radius: 20px;
}
.all{
    display: table-caption;
    margin: 20px;
    border-style: outset;
    border-color: cornsilk;
    flex-wrap: wrap;
}
.product-name{
  display: flex;
  justify-content: space-between;
}
.catogary{
  display: flex;
    justify-content: space-between;
}